@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.container {
  padding: 0 2rem;
}

.cont1{
  margin-top: 100px;
  text-align: center;
  border: 1px solid red;
}

.cont1 h1{
  font-family: 'Work Sans';
  margin-bottom: 100px;
  font-size: 72px;
  color: rgba(142, 124, 106, 1);
  ;
}

.cont2{
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

.cont3{
  margin-top: 250px;
  display: flex;
  flex-direction: row;
}

.cont4{
  display: flex;
  flex-direction: row;
}

.cont5{
  display: flex;
  flex-direction: row;
}